body {
color: black;
background-color:white;
}

body p.status {
color: black;
}

.home a {
  color: black;
  text-decoration: none;
}
a.status, a:hover.status, a:visited.status, a:active.status {
  color: black;
  text-decoration-color: black;
}
/* #search-box {
display: none;
}*/

img.u-pull-left.iconwhite {
display: inline;
}

img.u-pull-left.iconblack {
display: none;
}