body {
color: white;
background-color:black;
}
a.status, a:hover.status, a:visited.status, a:active.status {
  color: white;
  text-decoration-color: grey;
}
/* #search-box {
display: none;
} */

body p.status {
color: white;
}

img.u-pull-left.iconwhite {
display: none;
}

img.u-pull-left.iconblack {
display: inline;
}