/*body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}*/

#search-box {
    width: 100%;
    color: black;
}

#results {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
}

/*amended code to deal with iOS Safari select display*/
#suggestions {
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    z-index: 100;
    background-color: white;
    min-width: 100%;  /* amend as required */
    max-width: 100%;
    color: black;
}

.suggestion-item {
    padding: 8px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.fill {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%
}

/*img {
    min-width: 100%;
    max-width: 100%;
}*/

img.u-pull-left.iconblack, img.u-pull-left.iconwhite {
width: 70px;
}

img.u-pull-left.iconwhite {
display: none;
}

#header {
margin-bottom: 1rem;
height: 92px;
  display: flex;
  align-items: flex-end;
}

#header h1 {
margin-bottom: 0;
padding-left: 1rem;
}




.atdy {
  /*margin-top: 100px;*/
  background-image: url('/img/grim-reaper.png');
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-position-x: center;
  min-height: 100vh;  
  background-size: contain;
  background-repeat: no-repeat;
}

body {
background-color:black;
}

.home a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

h1.home {
font-size: 3rem;
}

body p.status {
color: white;
font-size: 2rem;
font-weight: 900;
color:red;
}
/* Larger than mobile */
@media (min-width: 400px) {
body p.status {
font-size: 3rem;
}
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
body p.status {
font-size: 4rem;
}
}

/* Larger than tablet */
@media (min-width: 750px) {
body p.status {
font-size: 4rem;
}
}

/* Larger than desktop */
@media (min-width: 1000px) {
body p.status {
font-size: 6rem;
}
h1.home {
font-size: 5rem;
}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
body p.status {
font-size: 8rem;
}
}



/*
a {
  text-decoration: none;
}
*/



/* highlighted selected item in search suggestions */
.suggestion-item.active {
    background-color: #e0e0e0; /* Example styling for active item */
}
