/*body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}*/

#search-box {
    width: 100%;
}

#results {
    margin-top: 20px;
    text-align: left;
    display: inline-block;
}

/*amended code to deal with iOS Safari select display*/
#suggestions {
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    z-index: 100;
    background-color: white;
    width: 100%;  /* amend as required */
}

.suggestion-item {
    padding: 8px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.fill {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%
}

img {
    width: 100%;
}

input[type='text'],
input[type='search'],
textarea {
  font-size: 16px;
}